@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* font-family: "RobotoSlabRegular"; */
@font-face {
    font-family: "RobotoSlabRegular";
    src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot");
    src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoSlabRegular/RobotoSlabRegular.woff") format("woff"),
    url("../fonts/RobotoSlabRegular/RobotoSlabRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

a {
	text-decoration: none;
}

* {
	margin: 0;
	padding: 0;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Montserrat";
	width: 100%;
}

.wrapper {
	background-image: url(images/background1.png);
	width: 1600px;
	height: 770px;
	background-size: cover;
	position: relative;
}

.header {
	padding: 40px 230px 0 230px;
	overflow: hidden;
	height: 770px;
}

.startup {
	color: white;
	font-size: 24px;
	font-weight: bold;
	float: left;
}

.menu {
	float: right;
}

.menu_link {
	color: white;
	font-size: 14px;
	margin-right: 20px;
}

.menu_link:hover, .menulink.active{
	border-bottom: 3px solid white;
	border-radius: 3px;
}

.main_text {
	text-align: center;
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

h1 {
	font-size: 48px;
	color: white;
}

.subtitle {
	font-size: 20px;
	color: white;
	padding-top: 20px;
}

.button_start {
	width: 180px;
	height: 50px;
	border: 3px solid white;
	border-radius: 3px;
	margin: 50px auto 0;
	position: relative;
	cursor: pointer;
}

.button_start:before {
content:'';
position: absolute;
top: 0px;
left: 0px;
width: 180px;
height: 0px;
background: rgba(255,255,255,0.3);
border-radius: 0px;
transition: all 0.3s ease;
}

.button_start:hover:before {
	height: 100%;
}

.button_text {
	color: white;
	font-size: 16px;
	line-height: 50px;
}

.section {
	padding: 100px 0;
	text-align: center;
	width: 70%;
	margin: auto;
}

.section_text {
	margin-bottom: 70px;
}

.section_about {
	padding: 100px 0;
	text-align: center;
}

.header_section h2 {
	font-size: 20px;
	color: #555555;
	margin-bottom: 25px;

}
.section_text p {
	font-size: 16px;
	color: #555555;
}

hr {
	border: 0;
	height: 2px;
	color: #555555;
	background-color: #555555;
	width: 50px;
	margin: auto;
	margin-bottom: 25px;
}

.services {
	margin: auto;
	width: 100%;
}

.block {
	width:31%;
	height: 220px;
	display: inline-block;
	font-size: 14px;
	margin: 0 1%;
}

.block:last-child {
	margin-right: 0;
}

.block:first-child {
	margin-left: 0;
}

.icon {
	margin-bottom: 30px;
}

.Name {
	margin-bottom: 20px;
	font-size: 14px;
}

.block p {
	color: #555555;
	font-size: 14px;
}

.section_about {
	background-color: #f8f8f8;
	width: 70%;
	margin: auto;
}

.about_text {
	font-size: 0;
	width: 100%;
}

.text_block {
	display: inline-block;
	width: 48%;
    margin: 0 2%;
	color: #555555;
	font-size: 14px;
	margin-bottom: 70px;
}

.text_block:first-child {
	margin-left: 0;
}

.text_block:last-child {
	margin-right: 0;
}

.item p {
	color: #555555;
	font-size: 13px;
	font-family: "RobotoSlabRegular"
}

.slick-slide img {
	width: 92%;
	height: 250px;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	margin-bottom: 20px;
	margin: 0 3%;
}

.slick-prev {
	left: 1%;
	background-image: url(images/button_left.png);
	background-repeat: no-repeat;
	background-position: center;
}

.slick-next {
	right: 1%;
	background-image: url(images/button_right.png);
	background-repeat: no-repeat;
	background-position: center;
}

.slick-arrow {
	position: absolute;
	top: 125px;
    transform: translate(0,-50%);
    width: 35px;
    height: 38px;
    background-color: #8b8b8b;
    border: none;
    z-index: 5;
    cursor: pointer;
    outline: none;
}

.slick-arrow:hover {
	background-color: #c0301c;
}

.slick-slide {
	outline: none;
}

.section_link {
	margin-right: 15px;
	font-size: 13px;
	color: #555555;
}

.section_link:hover, .section_link.active {
	color: #df978d;
}

.about {
	width: 100%;
	position: relative;
}

.item .about_name {
	font-size: 14px;
	font-family: "Montserrat";
	margin: 20px 0 15px 0;
}

.work_img {
	display: inline-block;
	margin: 1% 1%;
	width: 31%;

}

.work_img img {
	width: 100%;
}

.works {
	display: none;
}

.works.active {
	display: block;
}

.section_link {
	list-style: none;
	display: inline-block;
	cursor: pointer;
}

.letstalk p {
	color: white;
	font-size: 30px;
}

.button_get {
	text-align: center;
	color: white;
	font-size: 18px;
	line-height: 50px;
}

.section_bg {
	background-image: url(images/likeworks.png);
    background-size: cover;
    position: relative;
    width: 100%;
    height: 370px;
}

.section_like {
	padding: 100px 0;
    text-align: center;
    width: 100%;
    margin: auto;
}

.post_img {
	float: left;
	width: 41%;
	height: 320px;
	margin-right: 3%;
}

.post_content {
	float: left;
    width: 55%;
}

.post_number {
	height: 76px;
	width: 13%;
	border: 2px solid #555555;
	float: left;
	margin: 0 3% 3% 0;
}

.post_number p {
	padding: 15px 0;
	color: #777777;
}

.post_number p span {
	font-size: 24px;
}

.post_name {
	color: #c0301c;
	font-size: 16px;
	margin-bottom: 15px;
}

.post_creator {
	font-size: 13px;
	color: #aaaaaa;
	float: left;
    padding-left: 4%;
}

.post_header {
	float: left;
	padding-top: 15px;
}

.post_text {
	float: left;
	text-align: left;
}

.post_text p {
	font-size: 14px;
	color: #757575;
	padding-bottom: 30px;
}

.post_more_text {
	float: left;
    text-align: left;
    padding-bottom: 15px;
    font-size: 14px;
	color: #757575;
	display: none;
}

.read_more {
	text-align: left;
	float: left;
	color: #c0301c;
	cursor: pointer;
	width: 17%;
}

.read_more p {
	font-size: 13px;
	float: left;
	margin-right: 5%;
}

.read_more img {
	float: left;
    padding: 5px 0;
    transition: 0.2s ease-in-out;
}

.read_more.active img {
	transform: rotate(180deg);
}

.post1 {
	margin-bottom: 70px;
}

.post1, .post2 {
	float: left;
	overflow: hidden;
}

.post2 {
	margin-bottom: 60px;
}

.contact {
	width: 70%;
	margin: auto;
}

.firm {
	margin: auto;
	text-align: center;
}

.section_post {
	padding: 100px 0;
    text-align: center;
    width: 70%;
    margin: auto;
    overflow: hidden;
}

.firm a {
	display: inline-block;
	vertical-align: middle;
	margin: 0 2.5% 80px 2.5%;
}

.saying {
	padding: 0 18%;
    text-align: center;
    margin-bottom: 100px;
}

.saying p {
	font-size: 18px;
	color: #555555;
	margin-bottom: 40px;
}

.saying .writer {
	font-size: 20px;
}

.slick-dots {
	display: inline-block;
    text-align: center;
    vertical-align: middle;
    list-style: none;
    width: 100%;
}

.slick-dots li {
	display: inline-block;
	font-size: 0px;
	border: none;
	background-image: url(images/tab.png);
	background-size: cover;
	width: 2%;
    height: 13px;
    margin: 0 1%;
}